<div class="rating_card">
  <div *ngIf="!isCollapsed"><div id="message">
    Спасибо за отзыв!
  </div>
</div>
  <p style="font-size: 16px; font-weight: initial;">Оцените пожалуйста чат бота</p>
  <div class="rating_bt" onclick="setTimeout(function(){
	document.getElementById('message').style.display = 'none';
}, 5000);">
    <button class="rating_btn1" (click)="increase()" ><img src="/assets/image/icHappy.ico" width="40" height="40" alt="image description">
    </button>
    <button class="rating_btn2" (click)="decrease()"><img src="/assets/image/icSad.ico" width="40" height="40" alt="image description">
    </button>
  </div>
</div>
<!--{{appCounterService.counterg}} {{appCounterService.counterb}}-->

